
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstaticg.sportskeeda.com%2Feditor%2F2021%2F03%2F1db93-16149917075796.png&f=1&nofb=1&ipt=cbdd36563474ace996ea6ae0515cdd95e2631cb1985b39b0cefb7a1668902988&ipo=images);">
  <div class="container">
    <h1>POKEMON-X-Change</h1>
    <h2>The world most famous exchange to trade Pokemon NFTs</h2>
    <%= link_to "List all the pokemons", pokemons_path, class: "btn btn-primary" %>
  </div>
</div>
