<h1>Pokemons#show</h1>
<p>Find me in app/views/pokemons/show.html.erb</p>




<br><br><br>
<%= link_to "back to home", root_path, class: "btn btn-primary" %>
<%= link_to "List all the pokemons", pokemons_path, class: "btn btn-primary" %>
